
.subtitle {
    animation: fadeIn 0.75s ease-in-out;
  }
  
  .about-content {
    opacity: 0;
    animation: fadeIn 0.75s ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }

  .about-link {
    font-weight: bold;
    color: #2349ea;
    text-decoration: none;
  }

  .about-link:hover {
    cursor: pointer;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  .bold-subtitle {
    display: inline;
  }
  
  .about-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .about-image img {
    border-radius: 6px;
    object-fit: cover;
    width: 30em;
    height: 35em;
  }
  
  .about-text {
    font-size: 16px;
    width: 100%;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  #emoji-buttons{
    font-size: 3rem;
    display:flex;
    justify-content: center;
  }

  .emoji{
    margin: 1% 5% 2% 2%;
    padding: 1.5%;
    border-radius: 5px;
  }

  .emoji:hover{
    cursor: pointer;
    background-color: rgb(224, 236, 250);
  }

  .selected-emoji{
    background-color: rgb(224, 236, 250);
    box-shadow:
             0.1em 0.1em .1em rgba(58, 58, 58, 0.055);
  }
  
  .about-text p {
    margin-bottom: 36px;
  }
  
  .link-button {
    width: 140px;
    height: 2em;
    font-size: 14px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgba(113, 121, 143, 0.4);
    color: #71798f;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .link-button:hover {
    background-color: #71798f;
    color: white;
    border: 1px solid #71798f;
  }

  @media (max-width: 576px) {
    .about-image img{
      width: 23em;
      height: 26em;
    }
    #emoji-buttons{
      font-size: 2rem;
    }
  }

  @media (min-width: 576px) and (max-width: 991px) {
    .about-image img {
      margin: 0 auto;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1919px) {
    
    .about-image {
      margin-bottom: 60px;
    }
    .about-content {
      box-sizing: border-box;
      padding: 0px;
      width: auto;
      display: grid;
      grid-template-columns: 44.444% 44.444%;
      grid-gap: 0px 5%;
    }
    .about-text p {
      line-height: 30px;
      margin: 0px 0px 2em 0px;
    }
  }
  
  @media (min-width: 1920px) {
    .about-image {
      margin-bottom: 60px;
    }

    .about-image img{
      width:80%;
    }
    .about-content {
      box-sizing: border-box;
      padding: 0px;
      width: auto;
      display: grid;
      grid-template-columns: 44.444% 44.444%;
      grid-gap: 0px 5%;
    }
    .about-text p {
      line-height: 30px;
      margin: 0px 0px 2em 0px;
      font-size: 18px;
    }
    .about-text a {
      font-size: 16px;
      width: 160px;
    }
  }
  